<ion-toolbar>
    <ion-buttons slot="start">
        <!-- <ion-back-button [text]="backButtonText" icon="arrow-back"></ion-back-button> -->
        <ion-button [routerLink]="[routerUrl]" routerDirection="root">
            <ion-icon name="{{iconName}}"></ion-icon>
            <ion-text>{{backButtonText}}</ion-text>
        </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button *ngIf="actionIcon" (click)="download()">
            <ion-icon name="{{actionIcon}}"></ion-icon>
        </ion-button>
        <ion-button *ngIf="actionOption" color="primary" fill="outline" (click)="generate()">
            <ion-text style="font-size: 11px;">{{actionByOption[this.actionOption].text}}</ion-text>
        </ion-button>
    </ion-buttons>
</ion-toolbar>
