<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <app-peekus-header></app-peekus-header>
    </ion-header>
    <ion-searchbar class="mt-header" placeholder="Buscar eventos" show-clear-button="focus" [debounce]="1000" (ionChange)="buscarEvento($event)">
    </ion-searchbar>
    <ion-progress-bar type="indeterminate" color="primary" *ngIf="loading"></ion-progress-bar>
    <app-event-list *ngIf="!loading" [events]="eventsList" [userId]="userId" [search]="true" (filterByType)="filterByType($event)"></app-event-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>