<ion-header [translucent]="true">
    <app-peekus-header></app-peekus-header>
    <app-peekus-back-button [backButtonText]="backButtonText" [routerUrl]="'/tabs/my-events'" [iconName]="'arrow-back'" [actionIcon]="actionIcon" [actionOption]="actionOption" (actionToPerform)="performAction($event)"></app-peekus-back-button>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <app-peekus-header></app-peekus-header>
        <app-peekus-back-button [backButtonText]="backButtonText" [routerUrl]="'/tabs/my-events'" [iconName]="'arrow-back'" [actionIcon]="actionIcon" [actionOption]="actionOption" (actionToPerform)="performAction($event)"></app-peekus-back-button>
    </ion-header>
    <ion-progress-bar type="indeterminate" color="primary" *ngIf="loading || generatingCollage" class="mt-1"></ion-progress-bar>
    <div *ngIf="!loading" class="whiteBgCard">
        <img *ngIf="collageSrc" src="{{collageSrc}}" alt="">
        <ion-grid>
            <ion-row>
                <ion-col size="5.5">
                    <ion-row class="mb-1"><span class="cardTitle">{{eventData.name}}</span></ion-row>
                    <ion-row>
                        <ion-text color="grey" class="cardDescription">
                            {{eventData.description}}
                        </ion-text>
                    </ion-row>
                </ion-col>
                <ion-col size="5">
                    <ion-row style="height: 15%; margin-bottom: 10px;">
                        <ion-col size="9">
                            <app-event-status-badge [event]="eventData"></app-event-status-badge>
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-align-items-center" style="height: 50%; margin-bottom: 1px;">
                        <ion-col size="3" class="ion-no-padding">
                            <app-profile-picture [profilePictureId]="eventData.creatorProfilePicture" [size]="38"></app-profile-picture>
                        </ion-col>
                        <ion-col size="9">
                            <ion-row>
                                <ion-text color="grey" style="font-size: 14px;">{{eventData.creatorName}}</ion-text>
                            </ion-row>
                            <ion-row>
                                <ion-text color="primary">@{{eventData.creatorUsername}}</ion-text>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                    <ion-row style="height: 15%; margin-bottom: 1px;">
                        <ion-text color="grey" style="font-size: 12px;">Creado el {{createdDate}}</ion-text>
                    </ion-row>
                </ion-col>
                <ion-col size="1.5">
                    <ion-button class="ion-no-margin ion-no-padding" fill="clear" (click)="likeEvent()">
                        <ion-icon name="{{eventData.likedByUser ? 'heart' : 'heart-outline'}}" color="{{eventData.likedByUser ? 'primary' : 'tertiary'}}" size="large"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="eventData.status === eventStatus.ONGOING && !eventData.completedByUser && eventData.userParticipates" fill="outline" class="ion-no-margin ion-no-padding icon-stack mt-1" color="danger" (click)="takePhoto()">
                        <ion-icon name="camera" class="primary-icon" [ngStyle]="{'color': optionsByStatusMap.get(eventData.status).colorDate}"></ion-icon>
                        <ion-icon name="add" class="secondary-icon"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center ion-justify-content-between">
                <ion-col size="4">
                    <div class="dateHourBadge d-flex-start">
                        <div class="dateBadge d-flex-center">
                            <ion-text color="white" style="font-size: 14px;">{{startDayWeek}}</ion-text>
                            <hr>
                            <ion-text color="white" style="font-size: 12px;">{{eventData.startDate | date: 'dd'}}</ion-text>
                            <hr>
                            <ion-text color="white" style="font-size: 12px;">{{startDayMonth}}</ion-text>
                        </div>
                        <div class="d-flex-center" style="width: 60%;">
                            <ion-text color="grey" style="font-size: 12px;">{{eventData.startDate | date: 'HH:mm'}}</ion-text>
                            <hr>
                            <ion-text color="grey" style="font-size: 12px;">{{eventData.endDate | date: 'HH:mm'}}</ion-text>
                        </div>
                    </div>
                </ion-col>
                <ion-col size="3.5">
                    <ion-row class="ion-align-items-center">
                        <ion-text color="tertiary">{{eventData.likes}}</ion-text>
                        <ion-text color="grey" class="cardLikes ml-1">Me gusta</ion-text>
                    </ion-row>
                    <ion-row class="ion-align-items-center">
                        <ion-text color="tertiary">{{eventData.participants}}</ion-text>
                        <ion-text color="grey" class="cardLikes ml-1">Participantes</ion-text>
                    </ion-row>
                    <ion-row class="ion-align-items-center">
                        <ion-text color="tertiary">{{eventData.comments}}</ion-text>
                        <ion-text color="grey" class="cardLikes ml-1">Comentarios</ion-text>
                    </ion-row>
                </ion-col>
                <ion-col size="3">
                    <ion-row class="ion-align-items-center">
                        <ion-icon name="{{optionsByTypeMap.get(eventData.type).icon}}"></ion-icon>
                        <ion-text color="grey" style="font-size: 12px;" class="ml-1">{{eventData.type}}</ion-text>
                    </ion-row>
                </ion-col>
                <ion-col size="1.5">
                    <ion-row class="ion-align-items-center">
                        <ion-icon name="share-social" class="bigIconSize"></ion-icon>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div style="margin-top: 5px;">
            <div>
                <ion-icon name="person" class="ml-2"></ion-icon>
                <ion-text class="ml-1 cardHeader">Participantes</ion-text>
            </div>
            <div *ngIf="loadingParticipants" class="d-flex-center">
                <ion-spinner name="lines" class="m-1"></ion-spinner>
            </div>
            <ion-slides *ngIf="!loadingParticipants" [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
                <ion-slide *ngFor="let participant of eventParticipants" style="width: 80px; height: 80px;">
                    <ion-col class="d-flex-center">
                        <app-profile-picture [profilePictureId]="participant.idProfilePicture" [size]="55"></app-profile-picture>
                        <ion-text color="primary" style="font-size: 10px;">@{{participant.username}}</ion-text>
                    </ion-col>
                </ion-slide>
            </ion-slides>
        </div>
        <div style="margin-top: 5px;">
            <div>
                <ion-icon name="chatbubble" class="ml-2"></ion-icon>
                <ion-text class="ml-1 cardHeader">Comentarios</ion-text>
            </div>
            <div *ngIf="loadingComments" class="d-flex-center">
                <ion-spinner name="lines" class="m-1"></ion-spinner>
            </div>
            <ion-list style="background-color: white;" *ngIf="!loadingComments">
                <ng-container *ngIf="eventComments.length; else noComments">
                    <ion-item *ngFor="let comment of eventComments" class="item-bg-color">
                        <ion-grid class="ion-no-padding ion-no-margin">
                            <ion-row class="ion-align-items-center ion-no-padding ion-no-margin">
                                <ion-col size="1.5" class="ion-no-padding">
                                    <app-profile-picture [profilePictureId]="comment.idProfilePicture" [size]="38"></app-profile-picture>
                                </ion-col>
                                <ion-col size="7">
                                    <ion-row>
                                        <ion-text color="primary" style="font-size: 12px;">@{{comment.username}}</ion-text>
                                    </ion-row>
                                    <ion-row>
                                        <ion-text color="tertiary" style="font-size: 14px;">{{comment.text}}</ion-text>
                                    </ion-row>
                                </ion-col>
                                <ion-col size="3.5">
                                    <ion-row class="ion-justify-content-end">
                                        <ion-text color="grey" style="font-size: 10px;">{{comment.formattedDate}}</ion-text>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </ng-container>
                <ng-template #noComments>
                    <ion-item class="item-bg-color">
                        <ion-grid class="ion-no-padding ion-no-margin">
                            <ion-row class="ion-align-items-center ion-justify-content-center ion-no-padding ion-no-margin">
                                <ion-text color="primary">Sé el primer comentario!</ion-text>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </ng-template>
            </ion-list>
            <ion-item class="item-bg-color" style="min-height: 30px;" *ngIf="!loadingComments">
                <ion-input maxlength="100" placeholder="Deja un comentario" class="ion-no-padding leaveComment" [(ngModel)]="commentToPost"></ion-input>
                <ion-button (click)="postComment()" slot="end">
                    <ion-icon name="send"></ion-icon>
                </ion-button>
            </ion-item>
        </div>
    </div>
    <div *ngIf="!loading && eventData.creator!==userId && (eventData.capacity>eventData.participants || currentAction===0) && eventData.status!==eventStatus.FINISHED" class="d-flex-end" style="align-items: center; margin: 5px;">
        <ion-button color="tertiary" shape="round" class="cancelButton" (click)="inscriptionEvent()"><span>{{participantActions[currentAction].buttonText}}</span></ion-button>
    </div>
    <div *ngIf="!loading && eventData.creator===userId" class="d-flex-end" style="align-items: center; margin: 5px;">
        <ion-button color="tertiary" shape="round" (click)="deleteEvent()"><span>Borrar</span></ion-button>
        <ion-button *ngIf="eventData.status===eventStatus.NEXT" color="primary" shape="round" class="button-border" [routerLink]="['/base/edit', eventId]" routerDirection="root"><span>Editar</span></ion-button>
    </div>
    <!-- <div *ngIf="!loading && eventData.creator===userId" class="d-flex-end" style="align-items: center; margin: 5px;">
        <ion-button class="ion-no-padding" fill="outline" color="grey" size="small">
            <ion-icon name="pencil" class="editButtons"></ion-icon>
        </ion-button>
        <ion-button class="ion-no-padding" fill="outline" color="grey" size="small">
            <ion-icon name="trash" class="editButtons"></ion-icon>
        </ion-button>
    </div> -->
</ion-content>
