<ion-header [translucent]="true">
    <app-peekus-header></app-peekus-header>
    <app-peekus-back-button [backButtonText]="backButtonText"></app-peekus-back-button>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <app-peekus-header></app-peekus-header>
        <app-peekus-back-button [backButtonText]="backButtonText"></app-peekus-back-button>
    </ion-header>
    <ion-progress-bar type="indeterminate" color="primary" *ngIf="loading" class="mt-1"></ion-progress-bar>
    <div *ngIf="!loading" class="whiteBgCard">
        <ion-grid>
            <ion-row>
                <ion-col size="5.5">
                    <ion-row class="mb-1"><span class="cardTitle">{{eventData.name}}</span></ion-row>
                    <ion-row>
                        <ion-text color="grey" class="cardDescription">
                            {{eventData.description}}
                        </ion-text>
                    </ion-row>
                </ion-col>
                <ion-col size="5">
                    <ion-row style="height: 15%; margin-bottom: 10px;">
                        <ion-col size="9">
                            <app-event-status-badge [event]="eventData"></app-event-status-badge>
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-align-items-center" style="height: 50%; margin-bottom: 1px;">
                        <ion-col size="3" class="ion-no-padding">
                            <ion-avatar style="max-height: 38px; max-width: 38px;">
                                <img src="../../../assets/img/nologo.png" alt="">
                            </ion-avatar>
                        </ion-col>
                        <ion-col size="9">
                            <ion-row>
                                <ion-text color="grey" style="font-size: 14px;">{{eventData.creatorName}}</ion-text>
                            </ion-row>
                            <ion-row>
                                <ion-text color="primary">@{{eventData.creatorUsername}}</ion-text>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                    <ion-row style="height: 15%; margin-bottom: 1px;">
                        <ion-text color="grey" style="font-size: 12px;">Creado el {{createdDate}}</ion-text>
                    </ion-row>
                </ion-col>
                <ion-col size="1.5">
                    <ion-icon name="{{eventData.likedByUser ? 'heart' : 'heart-outline'}}" color="{{eventData.likedByUser ? 'primary' : 'tertiary'}}" size="large"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center ion-justify-content-between">
                <ion-col size="4">
                    <div class="dateHourBadge d-flex-start">
                        <div class="dateBadge d-flex-center">
                            <ion-text color="white" style="font-size: 14px;">{{startDayWeek}}</ion-text>
                            <hr>
                            <ion-text color="white" style="font-size: 12px;">{{eventData.startDate | date: 'dd'}}</ion-text>
                            <hr>
                            <ion-text color="white" style="font-size: 12px;">{{startDayMonth}}</ion-text>
                        </div>
                        <div class="d-flex-center" style="width: 60%;">
                            <ion-text color="grey" style="font-size: 12px;">{{eventData.startDate | date: 'HH:mm'}}</ion-text>
                            <hr>
                            <ion-text color="grey" style="font-size: 12px;">{{eventData.endDate | date: 'HH:mm'}}</ion-text>
                        </div>
                    </div>
                </ion-col>
                <ion-col size="4">
                    <ion-row class="ion-align-items-center">
                        <ion-text color="tertiary">{{eventData.likes}}</ion-text>
                        <ion-text color="grey" class="cardLikes ml-1">Me gusta</ion-text>
                    </ion-row>
                    <ion-row class="ion-align-items-center">
                        <ion-text color="tertiary">{{eventData.participants}}</ion-text>
                        <ion-text color="grey" class="cardLikes ml-1">Participantes</ion-text>
                    </ion-row>
                    <ion-row class="ion-align-items-center">
                        <ion-text color="tertiary">{{eventData.comments}}</ion-text>
                        <ion-text color="grey" class="cardLikes ml-1">Comentarios</ion-text>
                    </ion-row>
                </ion-col>
                <ion-col size="2.5">
                    <ion-row class="ion-align-items-center">
                        <ion-icon name="{{optionsByTypeMap.get(eventData.type).icon}}"></ion-icon>
                        <ion-text color="grey" style="font-size: 12px;" class="ml-1">{{eventData.type}}</ion-text>
                    </ion-row>
                </ion-col>
                <ion-col size="1.5">
                    <ion-row class="ion-align-items-center">
                        <ion-icon name="share-social" class="bigIconSize"></ion-icon>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div style="margin-top: 5px;">
            <div>
                <ion-icon name="person" class="ml-2"></ion-icon>
                <ion-text class="ml-1 cardHeader">Participantes</ion-text>
            </div>
            <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
                <ion-slide *ngFor="let card of [0,1,2,3,4,5,6]" style="width: 80px; height: 80px;">
                    <ion-col class="d-flex-center">
                        <ion-avatar style="max-height: 55px; max-width: 55px;">
                            <img src="../../../assets/img/nologo.png" alt="">
                        </ion-avatar>
                        <ion-text color="primary" style="font-size: 10px;">@{{eventData.creatorUsername}}</ion-text>
                    </ion-col>
                </ion-slide>
            </ion-slides>
        </div>
        <div style="margin-top: 5px;">
            <div>
                <ion-icon name="chatbubble" class="ml-2"></ion-icon>
                <ion-text class="ml-1 cardHeader">Comentarios</ion-text>
            </div>
            <ion-list style="background-color: white;">
                <ion-item *ngFor="let item of [0,1,2,3,4,5,6]" class="item-bg-color">
                    <ion-grid class="ion-no-padding ion-no-margin">
                        <ion-row class="ion-align-items-center ion-no-padding ion-no-margin">
                            <ion-col size="1.5" class="ion-no-padding">
                                <ion-avatar style="max-height: 38px; max-width: 38px;">
                                    <img src="../../../assets/img/nologo.png" alt="">
                                </ion-avatar>
                            </ion-col>
                            <ion-col size="7">
                                <ion-row>
                                    <ion-text color="primary" style="font-size: 12px;">@{{eventData.creatorUsername}}</ion-text>
                                </ion-row>
                                <ion-row>
                                    <ion-text color="tertiary" style="font-size: 14px;">Gente se prende 🔥🔥</ion-text>
                                </ion-row>
                            </ion-col>
                            <ion-col size="3.5">
                                <ion-row>
                                    <ion-text color="grey" style="font-size: 10px;">12:53 · 20 sep. 2022</ion-text>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>
            <ion-item class="item-bg-color" style="min-height: 30px;">
                <ion-input placeholder="Deja un comentario" class="ion-no-padding leaveComment"></ion-input>
            </ion-item>
        </div>
    </div>
    <div class="d-flex-end" style="align-items: center; margin: 5px; margin-top: 5px;">
        <ion-button color="tertiary" shape="round" class="cancelButton"><span>{{cancelButtonText}}</span></ion-button>
    </div>
</ion-content>