<ion-content [fullscreen]="true">
    <div class="d-flex-center">
        <img src="../../assets/logo/peekus_letras.png" alt="" height="150px" style="margin-top: 80px;">
        <img src="../../assets/logo/peekus_icono_nf.png" alt="" height="200px">
        <div class="d-flex-center" style="margin-top: 40px;">
            <ion-button color="tertiary" shape="round" fill="outline" class="btn-landing" [routerLink]="'/landing/register'"><span>REGISTRARSE</span></ion-button>
            <ion-button color="tertiary" shape="round" class="btn-landing" [routerLink]="'/landing/login'"><span>INICIAR SESIÓN</span></ion-button>
        </div>
    </div>
</ion-content>
