<div class="cardEvent">
    <ion-grid class="ion-no-padding" style="border-radius: 20px 0px 0px 0px;">
        <ion-row>
            <ion-col size="1" class="d-flex-center" [ngStyle]="{'background-color': event.completedByUser && event.status === eventStatus.ONGOING
            ? optionsByStatusMap.get(event.status).bgColorCompleted
            : optionsByStatusMap.get(event.status).bgColor, 'border-radius': '10px 1px 1px 10px'}">
                <div class="circleIcon">
                    <ion-icon name="{{event.completedByUser && event.status === eventStatus.ONGOING
                      ? optionsByStatusMap.get(event.status).iconBarCompleted
                      : optionsByStatusMap.get(event.status).iconBar}}" style="font-size: 20px;"></ion-icon>
                </div>
            </ion-col>
            <ion-col size="9.5" class="cardContent">
                <ion-row>
                    <ion-col size="6">
                        <ion-row><span class="cardTitle">{{event.name}}</span></ion-row>
                        <ion-row>
                            <ion-text color="primary" class="cardUser">@{{event.creatorUsername}}</ion-text>
                        </ion-row>
                        <ion-row style="height: 40px;">
                            <ion-text color="grey" class="cardDescription">
                                {{event.description}}
                            </ion-text>
                        </ion-row>
                    </ion-col>
                    <ion-col size="6">
                        <ion-row class="ion-align-items-center" style="height: 32%; margin-bottom: 1px;">
                            <ion-col size="4" class="d-flex-start">
                                <ion-icon name="{{optionsByTypeMap.get(event.type).icon}}" class="bigIconSize"></ion-icon>
                            </ion-col>
                            <ion-col size="8">
                                <div class="statusBadge d-flex-center" [ngStyle]="{'background-color': event.completedByUser && event.status === eventStatus.ONGOING
                                                                                                      ? optionsByStatusMap.get(event.status).bgColorCompleted
                                                                                                      : optionsByStatusMap.get(event.status).bgColor}">
                                    <ion-text color="white"><span>{{event.completedByUser && event.status === eventStatus.ONGOING ? 'COMPLETED' : event.status}}</span></ion-text>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row style="height: 36%; padding-top: 2px;">
                            <ion-col class="d-flex-start">
                                <span>{{event.participants}}</span>
                                <ion-icon name="person" class="ml-1"></ion-icon>
                            </ion-col>
                            <ion-col class="d-flex-center">
                                <span>{{event.likes}}</span>
                                <ion-icon name="{{event.likedByUser ? 'heart' : 'heart-outline'}}" color="{{event.likedByUser ? 'primary' : 'tertiary'}}" class="ml-1"></ion-icon>
                            </ion-col>
                            <ion-col class="d-flex-end" style="align-items: center;">
                                <span>{{event.comments}}</span>
                                <ion-icon name="chatbubble" class="ml-1"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row style="height: 32%;">
                            <ion-col class="d-flex-start">
                                <ion-text [ngStyle]="{'color': event.completedByUser && event.status === eventStatus.ONGOING
                                ? optionsByStatusMap.get(event.status).colorDateCompleted
                                : optionsByStatusMap.get(event.status).colorDate}">
                                    {{this.event.startDate | date: 'dd/MM/yy'}}
                                </ion-text>
                            </ion-col>
                            <ion-col class="d-flex-end" style="align-items: center;">
                                <ion-text [ngStyle]="{'color': event.completedByUser && event.status === eventStatus.ONGOING
                                ? optionsByStatusMap.get(event.status).colorDateCompleted
                                : optionsByStatusMap.get(event.status).colorDate}">
                                    {{endHour ? startHour + '-' + endHour : startHour}}
                                </ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="1.5" class="cardContent">
                <ion-row style="height: 60%;">
                </ion-row>
                <ion-row style="height: 40%;" class="ion-justify-content-center ion-align-items-end">
                    <ion-icon name="share-social" class="bigIconSize"></ion-icon>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>