ion-content {
    --ion-background-color: #ffffff;
}

// ion-toast.custom-toast {
//     --background: rgb(232, 15, 15);
//     --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0);
//     --color: #F5F5F5;
//     // ---background-color: rgba(107, 107, 107, 0.5);
// }
.my-custom-toast {
    --background: rgb(107, 107, 107);
    --color: #F5F5F5;
    --border-radius: 50%;
}
