<ion-header [translucent]="true" class="ion-no-border" collapse="fade">
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense" class="ion-no-border">
    </ion-header>
    <app-register-header></app-register-header>
    <div style="margin: 2em;">
        <ion-grid>
            <form [formGroup]="registerForm" (ngSubmit)="register()" (keyup.enter)="register()">
                <ion-row class="ion-justify-content-center">
                    <ion-list>
                        <p class="m-labels">NOMBRE</p>
                        <ion-item class="ion-no-padding">
                            <ion-input class="ion-no-padding" formControlName="name"></ion-input>
                            <ion-icon name="id-card" slot="end" color="tertiary" class="ion-no-margin"></ion-icon>
                        </ion-item>

                        <p class="m-labels">USUARIO</p>
                        <ion-item class="ion-no-padding">
                            <ion-input class="ion-no-padding" formControlName="username"></ion-input>
                            <ion-icon name="person" slot="end" color="tertiary" class="ion-no-margin"></ion-icon>
                        </ion-item>

                        <p class="m-labels">EMAIL</p>
                        <ion-item class="ion-no-padding">
                            <ion-input class="ion-no-padding" type="email" formControlName="email"></ion-input>
                            <ion-icon name="mail" slot="end" color="tertiary" class="ion-no-margin"></ion-icon>
                            <ion-note slot="error">Email inválido</ion-note>
                        </ion-item>

                        <p class="m-labels">TELÉFONO</p>
                        <ion-item class="ion-no-padding">
                            <ion-input class="ion-no-padding" type="tel" formControlName="phone"></ion-input>
                            <ion-icon name="call" slot="end" color="tertiary" class="ion-no-margin"></ion-icon>
                        </ion-item>

                        <p class="m-labels">CONTRASEÑA</p>
                        <ion-item class="ion-no-padding">
                            <ion-input class="ion-no-padding" type="password" formControlName="password"></ion-input>
                            <ion-icon name="key" slot="end" color="tertiary" class="ion-no-margin"></ion-icon>
                        </ion-item>
                    </ion-list>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <div class="d-flex-center">
                        <ion-spinner name="lines" style="margin-left: 4em; margin-right: 4em;" [style.visibility]="loading ? 'visible': 'hidden'"></ion-spinner>
                        <ion-button color="tertiary" shape="round" class="btn-landing" type="submit"><span>REGISTRARSE</span></ion-button>
                        <ion-text class="mt-1">¿Ya tienes cuenta?</ion-text>
                        <a color="primary" class="ml-1 mt-1 t-underline" [routerLink]="'/landing/login'">Inicia sesión</a>
                    </div>
                </ion-row>
            </form>
        </ion-grid>
    </div>

</ion-content>
