<!-- <ion-header [translucent]="true">
    <app-peekus-header></app-peekus-header>
</ion-header> -->
<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="my-events">
            <ion-icon name="home" size="large"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="search-events">
            <ion-icon name="search" size="large"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="friends">
            <ion-icon name="people" size="large"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>