<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="my-events">
            <ion-icon name="home"></ion-icon>
            <!-- <ion-label>Tab 1</ion-label> -->
        </ion-tab-button>

        <ion-tab-button tab="search-events">
            <ion-icon name="search"></ion-icon>
            <!-- <ion-label>Tab 2</ion-label> -->
        </ion-tab-button>

        <ion-tab-button tab="friends">
            <ion-icon name="people-outline"></ion-icon>
            <!-- <ion-label>Tab 3</ion-label> -->
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>