<div class="d-flex-end">
    <ion-button class="ion-no-padding mr-2 ion-no-margin" fill="clear" color="grey" (click)="orderByDate()">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-icon name="swap-vertical" size="small"></ion-icon>
    </ion-button>
    <ion-button class="ion-no-padding mr-2 ion-no-margin" fill="clear" color="grey" (click)="orderByName()">
        <ion-icon name="text"></ion-icon>
        <ion-icon name="swap-vertical" size="small"></ion-icon>
    </ion-button>
</div>
<ng-container *ngFor="let event of events">
    <app-event-card [event]="event" [userId]="userId"></app-event-card>
</ng-container>