<ion-header [translucent]="true" class="ion-no-border" collapse="fade">
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense" class="ion-no-border">
    </ion-header>
    <app-register-header></app-register-header>
    <div style="margin: 2em;" class="mt-2">
        <ion-grid>
            <ion-row class="ion-justify-content-center mt-2">
                <ion-text>Añade una foto de perfil</ion-text>
            </ion-row>
            <ion-row class="ion-justify-content-center mt-2">
                <button style="background-color: transparent;" (click)="selectImage()">
                    <div class="mt-2 icon-stack">
                      <ion-avatar style="height: 100%; width: 100%;" class="primary-icon">
                        <ion-img [src]="photo ? photo.data : photoDefault"></ion-img>
                      </ion-avatar>
                        <ion-icon name="camera" class="secondary-icon"></ion-icon>
                    </div>
                </button>
            </ion-row>
            <ion-row class="ion-justify-content-center mt-1">
                <ion-spinner name="lines" [style.visibility]="savingPhoto ? 'visible': 'hidden'"></ion-spinner>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-button color="primary" shape="round" class="btn-landing button-border" (click)="postImage()"><span>SIGUIENTE</span></ion-button>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>