<ion-toolbar color="secondary">
    <div class="d-flex-inbetween">
        <div style="display: flex; align-items: center;" [routerLink]="['/pk/tabs/my-events']" routerDirection="root">
            <img src="../../../assets/logo/peekus_logo_nf.png" alt="" height="35px" class="ml-1">
        </div>
        <div style="display: flex; align-items: center;">
            <ion-button fill="clear" class="ion-no-padding mr-2 icon-stack" [routerLink]="['/pk/base/notifications']" routerDirection="root">
                <ion-icon name="notifications" size="large" class="primary-icon"></ion-icon>
                <ion-icon *ngIf="newNotifications" name="alert-circle" class="secondary-icon"></ion-icon>
            </ion-button>
            <ion-button fill="clear" size="large" class="ion-no-padding" [routerLink]="['/pk/base/my-profile', userId]" routerDirection="root">
                <app-profile-picture *ngIf="loadedPic" [profilePictureId]="userProfilePicSrc" [size]="45" class="mr-2"></app-profile-picture>
            </ion-button>
        </div>
    </div>
</ion-toolbar>
