<ion-header [translucent]="true">
    <app-peekus-header></app-peekus-header>
    <!-- <app-peekus-back-button [routerUrl]="'/tabs/my-events'" [iconName]="'arrow-back'"></app-peekus-back-button> -->
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <app-peekus-header></app-peekus-header>
        <!-- <app-peekus-back-button [routerUrl]="'/tabs/my-events'" [iconName]="'arrow-back'"></app-peekus-back-button> -->
    </ion-header>
    <ion-progress-bar type="indeterminate" color="primary" *ngIf="loading" class="mt-1"></ion-progress-bar>
    <div *ngIf="!loading">
        <ion-grid>
            <ion-row>
                <ion-col size="6" class="ion-no-padding">
                    <ion-button [routerLink]="" routerDirection="root" fill="clear" color="tertiary" class="ion-no-padding">
                        <ion-icon name="arrow-back"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col size="6" class="d-flex-end ion-no-padding">
                    <ion-button *ngIf="isMyself" [routerLink]="" routerDirection="root" fill="clear" color="tertiary" class="ion-no-padding">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
                <ion-col size="5" class="d-flex-end">
                    <app-profile-picture [profilePictureId]="user.idProfilePicture" [size]="85"></app-profile-picture>
                </ion-col>
                <ion-col size="4">
                    <ion-row>
                        <ion-text color="grey" style="font-size: 14px;">{{user.name}}</ion-text>
                    </ion-row>
                    <ion-row>
                        <ion-text color="primary">@{{user.username}}</ion-text>
                    </ion-row>
                </ion-col>
                <ion-col size="3" class="ion-no-padding">
                    <!-- <ion-text style="font-size:10px;">Amigos</ion-text> -->
                    <ion-chip *ngIf="isFriend" color="grey" style="font-size:10px;" class="ion-no-margin">Amigos</ion-chip>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-button *ngIf="isMyself" class="button-border editButton mt-1" shape="round">
                    <span class="ml-2 mr-2">Editar Perfil</span>
                </ion-button>
            </ion-row>
        </ion-grid>
        <div class="mt-1 friendsButtons">
            <button (click)="changeTab(1)" [ngStyle]="{'border-bottom-color': participatedTab ? '#1B1C1E' : '#D9D9D9'}"><ion-icon [ngStyle]="{'color': participatedTab ? '#1B1C1E' : '#D9D9D9'}" name="grid-outline"></ion-icon></button>
            <button (click)="changeTab(2)" [ngStyle]="{'border-bottom-color': participatedTab ? '#D9D9D9' : '#1B1C1E'}"><ion-icon [ngStyle]="{'color': participatedTab ? '#D9D9D9' : '#1B1C1E'}" name="heart"></ion-icon></button>
        </div>
        <div class="m-1" *ngIf="participatedTab">
            <img *ngFor="let collage of collagesParticipated" src="{{collage.collage}}" alt="" width="46.5%" class="m-1" [routerLink]="['/base/detail', collage.id]" routerDirection="root">
        </div>
        <div class="m-1" *ngIf="!participatedTab">
            <img *ngFor="let collage of collagesLiked" src="{{collage.collage}}" alt="" width="46.5%" class="m-1" [routerLink]="['/base/detail', collage.id]" routerDirection="root">
        </div>
    </div>
</ion-content>
