.editButton {
    font-size: 10px;
    height: 20px;
}

.friendsButtons>button {
    background: none;
    width: 50%;
    border-bottom: 2px solid var(--ion-color-tertiary);
}

.friendsButtons>button>ion-icon {
    font-size: 25px;
}
